mgodd.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:sch="http://purl.oclc.org/dsdl/schematron"
   xml:lang="en">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>Encoding Schema for Television Scripts</title>
            <author>
               <name>Eva Riviere</name>
            </author>
         </titleStmt>
         <publicationStmt>
            <p>Published for the TEI-XML final assignment at the École nationale des chartes.</p>
         </publicationStmt>
         <notesStmt>
            <note type="project_objectives">
               <p>This project tests the adaptability of an XML/TEI-based model to various
                  television script formats, ranging from published editions to professional
                  shooting scripts.</p>
               <list>
                  <item>Digital Structuring: Encoding multimodal narrative elements (dialogue,
                     actions, emotions) within a consistent XML framework.</item>
                  <item>Scholarly Modeling: Using TEI principles to represent both spoken and visual
                     dimensions of performance texts.</item>
                  <item>Interpretive Focus: Highlighting interactions between text, performance, and
                     direction, especially in Fleabag.</item>
               </list>
            </note>
            <note type="custom_rules">
               <p>This ODD implements three specific rules to standardize the encoding of television
                  scripts and ensure data consistency across the corpus:</p>
               <list>
                  <item>Technical Categorization (Attribute Constraint): The <att>type</att>
                     attribute on the <gi>tech</gi> element is restricted to a closed list of values
                     (light, sound, prop, block, FX, montage, transition). This expands standard TEI
                     recommendations to capture specific post-production and on-set signals
                     essential for audiovisual performance texts.</item>
                  <item>Speech Structure (Sequence Constraint): Within the <gi>sp</gi> element, a
                        <gi>speaker</gi> is mandatory and must precede any dialogue paragraphs or
                     technical directions . This rule ensures structural integrity by preventing
                     anonymous dialogue and maintaining a clear link between characters and their
                     lines.</item>
                  <item>Vocal Delivery Context (Schematron Constraint): A Schematron rule mandates
                     that any <gi>stage</gi> direction of <att>type</att> delivery (describing vocal
                     inflection or tone) must be placed inside a speech block . This maintains the
                     logical and functional relationship between performance instructions and the
                     spoken text.</item>
               </list>
            </note>
         </notesStmt>
         <sourceDesc>
            <p>ODD generated from the analysis of a single professional script (dwTS.xml) using the
               "oddbyexample.xsl" transformation, and then manually expanded for multiple type of
               distinct editorial and production contexts scripts.</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
   <text>
      <body>
         <head>Encoding Schema for Television Scripts</head>
         <p>This ODD aims to provide a stable framework for the digital study of television scripts
            from the early twenty-first century, specifically focusing on the evolution of
            structural conventions across different production contexts. The corpus includes a
            published script (Fleabag), an unofficial amateur reconstruction (Grey’s Anatomy), and a
            professional BBC shooting script (Doctor Who), reflecting the diversity of audiovisual
            performance texts.</p>
         <p>We intend to highlight the interaction between textual dialogue and multimodal
            performance elements by encoding technical directions, character emotions, and visual
            staging. By implementing a consistent XML framework for these disparate formats, we seek
            to model the relationship between the written page and the visual dimension of
            performance, allowing for the extraction of data regarding dramatic structure and
            directorial intent across a diverse corpus.</p>

         <p>It includes five essential elements from the header module: <list>
               <item>
                  <gi>teiHeader</gi> from the header module to store required metadata.</item>
               <item>
                  <gi>fileDesc</gi> from the header module to record information about this
                  file.</item>
               <item>
                  <gi>titleStmt</gi> from the header module to record information about the
                  title.</item>
               <item>
                  <gi>publicationStmt</gi> from the header module to detail the digital
                  publication.</item>
               <item>
                  <gi>sourceDesc</gi> from the header module to record script origins.</item>
            </list> It incorporates the entire "core" and "tei" modules, alongside a specialized
            selection from the "drama" module, including <gi>view</gi>, <gi>camera</gi>, and
               <gi>tech</gi>, to model technical directions and directorial intent. Finally, it
            includes elements from the "textstructure" module but excludes numbered divs, preferring
            simple <gi>div</gi>s with <att>type</att> to define script pages. </p>



         <schemaSpec ident="oddbyexample" start="TEI ">
            <moduleRef key="tei"/>
            <!--Checking module textcrit-->
            <classRef key="att.textCritical"/>
            <classRef key="model.rdgLike"/>
            <classRef key="model.rdgPart"/>
            <classSpec ident="att.textCritical" type="atts" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="cause" mode="delete"/>
                  <attDef ident="varSeq" mode="delete"/>
                  <attDef ident="require" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module msdescription-->
            <classRef key="model.physDescPart"/>
            <moduleRef key="msdescription" include="dim"/>
            <elementSpec ident="dim" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module namesdates-->
            <classRef key="model.persNamePart"/>
            <moduleRef key="namesdates" include="persName surname forename listPerson person state"/>
            <elementSpec ident="persName" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="full" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="yes"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="surname" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="full" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="yes"/>
                     </valList>
                  </attDef>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="forename" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="full" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="yes"/>
                     </valList>
                  </attDef>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="listPerson" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="default" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="false"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="person" mode="change">
               <attList>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="sex" mode="delete"/>
                  <attDef ident="age" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="state" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="role"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <!--Checking module dictionaries-->
            <classRef key="att.lexicographic"/>
            <classRef key="model.entryLike"/>
            <classRef key="model.formPart"/>
            <classRef key="model.gramPart"/>
            <classRef key="model.lexicalRefinement"/>
            <classRef key="model.morphLike"/>
            <classRef key="model.ptrLike.form"/>
            <moduleRef key="dictionaries" include="lang"/>
            <elementSpec ident="lang" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <classSpec ident="att.lexicographic" type="atts" mode="change">
               <attList>
                  <attDef ident="expand" mode="delete"/>
                  <attDef ident="split" mode="delete"/>
                  <attDef ident="value" mode="delete"/>
                  <attDef ident="location" mode="delete"/>
                  <attDef ident="mergedIn" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module tagdocs-->
            <classRef key="att.combinable"/>
            <classRef key="att.identified"/>
            <classRef key="model.contentPart"/>
            <classSpec ident="att.combinable" type="atts" mode="change">
               <attList>
                  <attDef ident="mode" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.identified" type="atts" mode="change">
               <attList>
                  <attDef ident="ident" mode="delete"/>
                  <attDef ident="predeclare" mode="delete"/>
                  <attDef ident="module" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.anchoring" type="atts" mode="change">
               <attList>
                  <attDef ident="targetEnd" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.canonical" type="atts" mode="change">
               <attList>
                  <attDef ident="key" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.datable.w3c" type="atts" mode="change">
               <attList>
                  <attDef ident="notBefore" mode="delete"/>
                  <attDef ident="notAfter" mode="delete"/>
                  <attDef ident="from" mode="delete"/>
                  <attDef ident="to" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.editLike" type="atts" mode="change">
               <attList>
                  <attDef ident="evidence" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.pointing" type="atts" mode="change">
               <attList>
                  <attDef ident="targetLang" mode="delete"/>
                  <attDef ident="evaluate" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.datable" type="atts" mode="change">
               <attList>
                  <attDef ident="period" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.dimensions" type="atts" mode="change">
               <attList>
                  <attDef ident="unit" mode="delete"/>
                  <attDef ident="quantity" mode="delete"/>
                  <attDef ident="extent" mode="delete"/>
                  <attDef ident="precision" mode="delete"/>
                  <attDef ident="scope" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.handFeatures" type="atts" mode="change">
               <attList>
                  <attDef ident="scribe" mode="delete"/>
                  <attDef ident="scribeRef" mode="delete"/>
                  <attDef ident="script" mode="delete"/>
                  <attDef ident="scriptRef" mode="delete"/>
                  <attDef ident="medium" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.media" type="atts" mode="change">
               <attList>
                  <attDef ident="width" mode="delete"/>
                  <attDef ident="height" mode="delete"/>
                  <attDef ident="scale" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.naming" type="atts" mode="change">
               <attList>
                  <attDef ident="nymRef" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.pointing.group" type="atts" mode="change">
               <attList>
                  <attDef ident="domains" mode="delete"/>
                  <attDef ident="targFunc" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.segLike" type="atts" mode="change">
               <attList>
                  <attDef ident="function" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.transcriptional" type="atts" mode="change">
               <attList>
                  <attDef ident="status" mode="delete"/>
                  <attDef ident="cause" mode="delete"/>
                  <attDef ident="seq" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.damaged" type="atts" mode="change">
               <attList>
                  <attDef ident="agent" mode="delete"/>
                  <attDef ident="degree" mode="delete"/>
                  <attDef ident="group" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.timed" type="atts" mode="change">
               <attList>
                  <attDef ident="start" mode="delete"/>
                  <attDef ident="end" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.personal" type="atts" mode="change">
               <attList>
                  <attDef ident="sort" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module core-->
            <moduleRef key="core"
               include="p desc name date ref label head note author title publisher pubPlace bibl sp speaker stage"/>
            <elementSpec ident="p" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="part" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="N"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="desc" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="name" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="full" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="yes"/>
                     </valList>
                  </attDef>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="pseudo"/>
                     </valList>
                  </attDef>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="date" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="publication"/>
                        <valItem ident="consultation"/>
                     </valList>
                  </attDef>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="ref" mode="change">
               <attList>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="url"/>
                     </valList>
                  </attDef>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="label" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="head" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="note" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="target" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="author" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="title" mode="change">
               <attList>
                  <attDef ident="level" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="publisher" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="pubPlace" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="bibl" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="default" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="false"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="book"/>
                        <valItem ident="online"/>
                     </valList>
                  </attDef>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>

            <!-- second rule -->
            <elementSpec ident="sp" mode="change">
               <desc>[Note Change!] This rule mandates a speaker element at the beginning of every
                  speech block(sp) followed by the rest of the dialogue.</desc>
               <content>
                  <sequence>
                     <elementRef key="speaker" minOccurs="1" maxOccurs="unbounded"/>
                     <classRef key="model.common" minOccurs="1" maxOccurs="unbounded"/>
                  </sequence>
               </content>
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>


            <elementSpec ident="speaker" mode="change">
               <attList>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>


            <!-- third rule -->
            <elementSpec ident="stage" mode="change">
               <desc>[Note Change!] Stage directions of type 'delivery' (describing how a line is
                  spoken) must strictly occur within a speech block (sp) to maintain the logical
                  link between the instruction and the dialogue.</desc>
               <constraintSpec ident="deliveryContext" scheme="schematron">
                  <constraint>
                     <sch:rule context="tei:stage[@type='delivery']">
                        <sch:assert test="ancestor::tei:sp"> A stage direction of type 'delivery'
                           must be placed inside an 'sp' element. </sch:assert>
                     </sch:rule>
                  </constraint>
               </constraintSpec>
               <attList>
                  <attDef ident="type" mode="change">
                     <!-- same as in the first rule, I added some values to the attribute in addition to those suggested by TEI and provided descriptions, as I did not find them necessarily obvious. -->
                     <valList mode="add" type="closed">
                        <valItem ident="setting">
                           <desc>Describes the location, time, and physical environment where a
                              scene takes place.</desc>
                        </valItem>
                        <valItem ident="delivery">
                           <desc>Instructions regarding vocal tone, volume, or inflection; this
                              value must be used strictly within a speech block (sp).</desc>
                        </valItem>
                        <valItem ident="acting">
                           <desc>Describes non-verbal physical performance, gestures, or facial
                              expressions; typically used as independent directions outside of a
                              speech block.</desc>
                        </valItem>
                        <valItem ident="entrance">
                           <desc>Signals a character's entry on stage.</desc>
                        </valItem>
                        <valItem ident="exit">
                           <desc>Signals a character's departure from the stage.</desc>
                        </valItem>
                        <valItem ident="modifier">
                           <desc>Descriptors of a character's emotional state or internal
                              disposition during a specific moment.</desc>
                        </valItem>
                        <valItem ident="move">
                           <desc>Directions for specific character movements or changes in physical
                              position on the set.</desc>
                        </valItem>
                        <valItem ident="timing">
                           <desc>Indicates dramatic rhythm, pauses, or 'beats' within the
                              action.</desc>
                        </valItem>
                        <valItem ident="address">
                           <desc>Used when a character addresses the audience or camera directly,
                              breaking the fourth wall.</desc>
                        </valItem>
                     </valList>
                  </attDef>
               </attList>
               <exemplum>
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <sp>
                        <speaker>NEEDY WAITRESS</speaker>
                        <stage type="delivery">(grateful, sweet)</stage>
                        <p>Thank you.</p>
                     </sp>
                  </egXML>
               </exemplum>
            </elementSpec>



            <!--Checking module figures-->
            <!--Checking module header-->
            <moduleRef key="header"
               include="teiHeader fileDesc titleStmt edition extent publicationStmt distributor authority idno availability licence sourceDesc encodingDesc projectDesc appInfo application profileDesc creation"/>
            <elementSpec ident="teiHeader" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="fileDesc" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="titleStmt" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="edition" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="extent" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="publicationStmt" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="distributor" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="authority" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="idno" mode="change">
               <attList>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="ISBN"/>
                        <valItem ident="URL"/>
                     </valList>
                  </attDef>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="ISBN"/>
                        <valItem ident="URL"/>
                     </valList>
                  </attDef>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="availability" mode="change">
               <attList>
                  <attDef ident="status" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="restricted"/>
                        <valItem ident="unknown"/>
                     </valList>
                  </attDef>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="default" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="false"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="licence" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="target" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="sourceDesc" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="default" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="false"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="encodingDesc" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="projectDesc" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="default" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="false"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="appInfo" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="application" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="profileDesc" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="creation" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module gaiji-->
            <classRef key="att.gaijiProp"/>
            <classSpec ident="att.gaijiProp" type="atts" mode="change">
               <attList>
                  <attDef ident="name" mode="delete"/>
                  <attDef ident="value" mode="delete"/>
                  <attDef ident="version" mode="delete"/>
                  <attDef ident="scheme" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module verse-->
            <!--Checking module transcr-->
            <!--Checking module linking-->
            <classRef key="att.global.linking"/>
            <moduleRef key="linking" include="ab"/>
            <elementSpec ident="ab" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="part" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="N"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <classSpec ident="att.global.linking" type="atts" mode="change">
               <attList>
                  <attDef ident="synch" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="exclude" mode="delete"/>
                  <attDef ident="select" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module analysis-->
            <classRef key="att.linguistic"/>
            <classSpec ident="att.linguistic" type="atts" mode="change">
               <attList>
                  <attDef ident="lemma" mode="delete"/>
                  <attDef ident="lemmaRef" mode="delete"/>
                  <attDef ident="pos" mode="delete"/>
                  <attDef ident="msd" mode="delete"/>
                  <attDef ident="join" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module textstructure-->
            <moduleRef key="textstructure" include="TEI text body div"/>
            <elementSpec ident="TEI" mode="change">
               <attList>
                  <attDef ident="version" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="text" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="body" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="div" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="org" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="uniform"/>
                     </valList>
                  </attDef>
                  <attDef ident="sample" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="complete"/>
                     </valList>
                  </attDef>
                  <attDef ident="part" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="N"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="page"/>
                     </valList>
                  </attDef>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module drama-->
            <moduleRef key="drama" include="view camera sound caption tech"/>
            <elementSpec ident="view" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="camera" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="sound" mode="change">
               <attList>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="delivery"/>
                        <valItem ident="music"/>
                     </valList>
                  </attDef>
                  <attDef ident="discrete" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="delivery"/>
                        <valItem ident="music"/>
                     </valList>
                  </attDef>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="caption" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>


            <!-- first rule -->
            <elementSpec ident="tech" mode="change">
               <desc>[Note Change!] This is an expanded version of TEI recommendations for technical
                  directions. It restricts the @type attribute to a specialized list of signals and
                  post-production indicators essential for television scripts.</desc>
               <attList>
                  <attDef ident="type" mode="change">
                     <desc>Technical category of the instruction.</desc>
                     <!-- I added some values to the attribute in addition to those suggested by TEI and provided descriptions, as I did not find them necessarily obvious. -->
                     <valList mode="replace" type="closed">
                        <valItem ident="light">
                           <desc>Light signal or specific lighting adjustment instructions.</desc>
                        </valItem>
                        <valItem ident="sound">
                           <desc>Sound signal or specific audio cues required for the scene.</desc>
                        </valItem>
                        <valItem ident="prop">
                           <desc>Indications regarding props, accessories, or physical objects used
                              by actors.</desc>
                        </valItem>
                        <valItem ident="block">
                           <desc>Blocking indications or actor marks for positioning on set.</desc>
                        </valItem>
                        <valItem ident="FX">
                           <desc>Special visual effects added during post-production.</desc>
                        </valItem>
                        <valItem ident="montage">
                           <desc>Specific editing characteristics or sequences condensed through
                              cutting.</desc>
                        </valItem>
                        <valItem ident="transition">
                           <desc>Visual transitions between scenes, such as cuts, wipes, or
                              fades.</desc>
                        </valItem>
                     </valList>
                  </attDef>
                  <attDef ident="perf" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
               <exemplum>
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <tech type="FX">FX: The Tardis starts to fade.</tech>
                  </egXML>
               </exemplum>
            </elementSpec>



            <!--Checking module corpus-->
            <moduleRef key="corpus"
               include="textDesc particDesc channel constitution derivation domain factuality interaction preparedness purpose"/>
            <elementSpec ident="textDesc" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="default" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="false"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="particDesc" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="default" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="false"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="channel" mode="change">
               <attList>
                  <attDef ident="mode" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="x"/>
                     </valList>
                  </attDef>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="constitution" mode="change">
               <attList>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="frags"/>
                     </valList>
                  </attDef>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="frags"/>
                     </valList>
                  </attDef>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="derivation" mode="change">
               <attList>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="excerpt"/>
                     </valList>
                  </attDef>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="excerpt"/>
                     </valList>
                  </attDef>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="domain" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="factuality" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="interaction" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="active" mode="delete"/>
                  <attDef ident="passive" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="preparedness" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="purpose" mode="change">
               <attList>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="entertain"/>
                     </valList>
                  </attDef>
                  <attDef ident="degree" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="entertain"/>
                     </valList>
                  </attDef>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
         </schemaSpec>
      </body>
   </text>
</TEI>
